.Polaris-Bold{
    font-family: Polaris-bold;
}
.type-center{
    text-align: center;
}
.type-bold{
    font-weight: 700;
}


.type-M{
    font-size: 15px;
    line-height: 22px;
    text-transform: inherit;
    letter-spacing: normal;
}

.type-L{
    font-size: 18px;
    line-height: 22px;
    text-transform: inherit;
    letter-spacing: normal;
}