
// PADDING SPACER SMALL
.spcr-pb-S{
    padding-bottom: 12px;
}
.spcr-pt-S{
    padding-top: 12px;
}
.spcr-pl-S{
    padding-left: 12px;
}
.spcr-pr-S{
    padding-right: 12px;
}

// PADDING SPACER MEDIUM
.spcr-pb-M{
    padding-bottom: 24px;
}
.spcr-pt-M{
    padding-top: 24px;
}
.spcr-pl-M{
    padding-left: 24px;
}
.spcr-pr-M{
    padding-right: 24px;
}

// PADDING SPACER LARGE
.spcr-pb-L{
    padding-bottom: 48px;
}
.spcr-pt-L{
    padding-top: 48px;
}
.spcr-pl-L{
    padding-left: 48px;
}
.spcr-pr-L{
    padding-right: 48px;
}


// MARGIN SPACER SMALL
.spcr-mb-S{
    margin-bottom: 12px;
}
.spcr-mt-S{
    margin-top: 12px;
}
.spcr-ml-S{
    margin-left: 12px;
}
.spcr-mr-S{
    margin-right: 12px;
}

// MARGIN SPACER MEDIUM
.spcr-mb-M{
    margin-bottom: 24px;
}
.spcr-mt-M{
    margin-top: 24px;
}
.spcr-ml-M{
    margin-left: 24px;
}
.spcr-mr-M{
    margin-right: 24px;
}

// MARGIN SPACER LARGE
.spcr-mb-L{
    margin-bottom: 48px;
}
.spcr-mt-L{
    margin-top: 48px;
}
.spcr-ml-L{
    padding-left: 48px;
}
.spcr-mr-L{
    margin-right: 48px;
}

.spcr-mb-XL{
    margin-bottom: 72px;
}
.spcr-mt-XL{
    margin-top: 72px;
}
.spcr-ml-XL{
    margin-left: 72px;
}
.spcr-mr-XL{
    margin-right: 72px;
}






